<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<ul>
<li><a href="{{url_for('home_page')}}" >Home</a></li>
  <li><a href="{{url_for('shopnow')}}" >Shop</a></li>
  <!-- <li><a href="news.asp">News</a></li> -->
  <li><a href="{{url_for('contactnow')}}">Contact</a></li>
  <li><a href="{{url_for('aboutnow')}}">About</a></li>
</ul>
<h1 class="titless">About</h1>
<p class="textss">We are leading global specialty retailer offering high-quality, on-trend clothing, accessories and personal care products at affordable prices.We are an inclusive, optimistic and empowering company that celebrates the individuality of our customers and associates.We started in 2006 and haven't stopped smashing it since. A global brand that doesn't sleep, we're 24/7 and always bringing something new with over 100 new products dropping on the daily </p>
</body>
</html>