<!DOCTYPE html>
<html>
<head>
	<title>Womens Tops</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<ul>
<li><a href="{{url_for('home_page')}}" >Home</a></li>
  <li><a href="{{url_for('shopnow')}}" >Shop</a></li>
  <!-- <li><a href="news.asp">News</a></li> -->
  <li><a href="{{url_for('contactnow')}}">Contact</a></li>
  <li><a href="{{url_for('aboutnow')}}">About</a></li>
</ul>
<h1 class="titless">Latest Styles for Womens Tops</h1>
<br>

<img src="static/main1.jpg" class="main_img_2">
<br>
<br>
<img src="static/1.jpg" class="line_1">

<img src="static/3.jpg" class="line_1">
<img src="static/4.jpg" class="line_1">
<img src="static/5.jpg" class="line_1">
<br>
<hr>
<br>
<img src="static/6.jpg" class="line_2">
<img src="static/7.jpg" class="line_2">
<img src="static/8.jpg" class="line_2">
<img src="static/9.jpg" class="line_2">
</body>
</html>